@import '../../styles/media-queries.scss';

.titleContainer{
    display: flex;
    justify-content: space-between;

    & > h1 {
        margin-left: 75px;
        font-size: 30px;
        margin-bottom: 40px;
        margin-top: 15px;
        line-height: 39px;

        @include for-phone-only {
            margin-left: 12px;
        }
    }

    & > a {
        display: none;

        @include for-phone-only {
            display: inline;
            margin-top: 27px;
            font-weight: 500;
            font-size: 14px;
            color: #3561D1;
        }
    }
}
