@import "./DMSans.scss";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: DMSans;
    background-color: #F7F8FA;
}

a {
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
   }