.timerView {
   position: absolute;
   bottom: 173px;
   left: 200px;
   background: #0A334F;
   border-radius: 15px;
   padding: 5px;
   color: #FDCA40;
}

.timerViewExtended {
    position: absolute;
    bottom: 173px;
    left: 470px;
    padding: 5px;
    color: #FDCA40;
    background: rgba(26, 34, 36, 0.8);
    box-shadow: 0px 4px 4px rgba(26, 34, 36, 0.1);
    border-radius: 20px;

}
