.timerView{
   position: absolute;
   bottom: 80%;
   left:70%;
   background: #0A334F;
   border-radius: 15px;
   padding: 5px;
   color: #FDCA40;
}
.timerViewExtended{
    position: absolute;
    bottom: 80%;
    left:80%;
    background: #0A334F;
    border-radius: 15px;
    padding: 5px;
    color: #FDCA40;
}