@import '../../styles/media-queries.scss';

.navbarLink {
   margin: 10px;
   margin-right: 60px;
   font-size: 16px;
   color: #1A2224;
   & > img {
       width: 22px;
       height: 22px;
   }

   @include for-phone-only {
        display: none;
   }
}
