.navbarLink {
   margin: 10px;
   margin-right: 100px;
   font-size: 16px;
   color: #1A2224;
   & > img {
       width: 22px;
       height: 22px;
   }
}

@media all and (max-width: 600px) {

    .navbarLink {
        display: none;
    }
 }
